## Series Object

In [7]:
# !pip install matplotlib

%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np
import matplotlib as mpl

mpl.style.use('ggplot')

In [22]:
s = pd.Series([909976, 8615246, 2872086, 2273305])

s.index
print(list(s.index))

[0, 1, 2, 3]

In [25]:
s.index = ["Stockholm", "London", "Rome", "Paris"]

In [33]:
type(s)
s.name = "Population"
print(list(s.index))
print()
print(s)

['Stockholm', 'London', 'Rome', 'Paris']

Stockholm     909976
London       8615246
Rome         2872086
Paris        2273305
Name: Population, dtype: int64

In [38]:
values = [909976, 8615246, 2872086, 2273305]
p = pd.Series(values, 
              index=["Stockholm", "London", "Rome", "Paris"], name="Population")
print(p)

Stockholm     909976
London       8615246
Rome         2872086
Paris        2273305
Name: Population, dtype: int64

In [48]:
print(p["Rome"])
p["Rome"]

print(p.Rome)

2872086
2872086

In [71]:
print(p.mean(), p.median(), p.std())

p[["Paris", "Rome"]]

3667653.25 2572695.5 3399048.5005155364

Paris    2273305
Rome     2872086
Name: Population, dtype: int64

In [73]:
p.min(), p.max()

print(p.min(), p.max())

909976 8615246