1. Extracting Information from Columns with Dictionaries

Use Case: A column contains dictionary-like objects (e.g., JSON data). Extract 
specific keys or values from these dictionaries.

In [6]:
import pandas as pd

# Example DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Details": [{"Age": 25, "City": "NYC"}, {"Age": 30, "City": "LA"}, 
                {"Age": 35, "City": "Chicago"}],
}

df = pd.DataFrame(data)

print(df)

      Name                         Details
0    Alice      {'Age': 25, 'City': 'NYC'}
1      Bob       {'Age': 30, 'City': 'LA'}
2  Charlie  {'Age': 35, 'City': 'Chicago'}

In [8]:
# Create a new column called Age
df["Age"] = df["Details"].apply(lambda x: x["Age"] )
print(df)

      Name                         Details  Age
0    Alice      {'Age': 25, 'City': 'NYC'}   25
1      Bob       {'Age': 30, 'City': 'LA'}   30
2  Charlie  {'Age': 35, 'City': 'Chicago'}   35

In [9]:
# Extract multiple keys into separate columns
df["City"] = df["Details"].apply(lambda x: x["City"])
print(df)

      Name                         Details  Age     City
0    Alice      {'Age': 25, 'City': 'NYC'}   25      NYC
1      Bob       {'Age': 30, 'City': 'LA'}   30       LA
2  Charlie  {'Age': 35, 'City': 'Chicago'}   35  Chicago

2. Exploding a Column with Lists
Use Case: A column contains lists, and you want to "explode" each element of 
the list into its own row.

In [11]:
# Example DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Hobbies": [["Reading", "Traveling"], ["Cooking"], ["Swimming", "Gaming", "Hiking"]],
}
df = pd.DataFrame(data)

# Explode the list into multiple rows
df_exploded = df.explode("Hobbies").reset_index(drop=True)
print(df_exploded)

      Name    Hobbies
0    Alice    Reading
1    Alice  Traveling
2      Bob    Cooking
3  Charlie   Swimming
4  Charlie     Gaming
5  Charlie     Hiking

3. Flattening Nested JSON Structures
Use Case: A DataFrame contains nested JSON data, and you want to normalize it into 
a flat table.

In [13]:
import pandas as pd
from pandas import json_normalize

# Example JSON-like data
data = [
    {"Name": "Alice", "Details": {"Age": 25, "City": "NYC"}},
    {"Name": "Bob", "Details": {"Age": 30, "City": "LA"}},
    {"Name": "Charlie", "Details": {"Age": 35, "City": "Chicago"}},
]

# Convert to DataFrame and flatten JSON
df = pd.json_normalize(data)
print(df)

      Name  Details.Age Details.City
0    Alice           25          NYC
1      Bob           30           LA
2  Charlie           35      Chicago

4. Accessing Multi-Level Columns
Use Case: A DataFrame has hierarchical column names (e.g., resulting from groupby 
or pivot). Extract data from specific levels.

In [15]:
# Example Multi-Level Columns DataFrame
data = {
    ("Sales", "2023"): [100, 200, 150],
    ("Sales", "2024"): [120, 250, 180],
    ("Profit", "2023"): [20, 50, 30],
    ("Profit", "2024"): [25, 60, 40],
}
df = pd.DataFrame(data, index=["Q1", "Q2", "Q3"])

# Access data for a specific level (e.g., 'Sales')
sales_data = df["Sales"]
print(sales_data)

# Access a specific sub-level (e.g., '2023' under 'Sales')
sales_2023 = df[("Sales", "2023")]
print(sales_2023)

# Flatten multi-level columns into single-level
df.columns = ['_'.join(col) for col in df.columns]
print(df)

    2023  2024
Q1   100   120
Q2   200   250
Q3   150   180
Q1    100
Q2    200
Q3    150
Name: (Sales, 2023), dtype: int64
    Sales_2023  Sales_2024  Profit_2023  Profit_2024
Q1         100         120           20           25
Q2         200         250           50           60
Q3         150         180           30           40

5. Iterating Over Nested Data with itertuples or apply
Use Case: Process nested elements row by row.

x is falsy
True

0,1,2,3,4,5,6,7,8,9,

spam
pam
am
m

8
6
4
2
0