In [3]:
import pandas as pd

In [ ]:
# Pandas Series
#One-dimentional labelled array capable of holding any data type
a = pd.Series([23,7,6,5,4])
s = pd.Series([12,56,7,5, 4], index=[2,3,4,'Yes',6])
# s
a

0    23
1     7
2     6
3     5
4     4
dtype: int64

In [26]:
# Pandas DataFrame:
# A DataFrame is a two-dimensional labeled table of data with
# rows and columns (like an Excel sheet or SQL table).


data = {
    "Country": ["Belgium", "India", "Brazil"],
    "Capital": ["Brussels", "New Delhi", "Brazillia"],
    "Population": [212312323, 3434343, 8785656],
}

df = pd.DataFrame(data, columns=["Country", "Capital", "Population"], index=['a', 'b', 'c'])
df

   Country    Capital  Population
a  Belgium   Brussels   212312323
b    India  New Delhi     3434343
c   Brazil  Brazillia     8785656

In [41]:
df_csv = pd.read_csv("../data/housing.csv", header=None, sep='|', nrows=5)
df_csv

b = df.to_csv('myFileName.csv')

b